<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备管理平台</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="login.css" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(69,161,168,1);">
    <a href="#" class="navbar-brand mb-0 h1"><img src="../lib/image/seal.png" style="width:45px;margin-right: 15px"/>海豹设备管理平台</a>
</nav>


<div id="app">
    <div class="login_box">
        <div class="login_l_img"><img src="images/login-img.png" /></div>
        <div class="login">
            <div class="login_logo"><a href="#"><img src="images/login_logo.png" /></a></div>
            <div class="login_name">
                <p>欢迎登陆</p>
            </div>
            <input name="username" type="text" v-model="userName" placeholder="用户名">
            <input name="password" type="password" v-model="password" placeholder="密码"/>
            <a class="pull-right" href="#" @click="visitorButton"> 游客模式>>>></a>
            <input value="登录" style="width:100%;" type="submit" @click="loginButton">
        </div>
    </div>
</div>
<script src="../lib/vue/axios.min.js" crossorigin="anonymous"></script>
<script src="../lib/vue/vue.js" crossorigin="anonymous"></script>
<script src="../lib/jquery/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="../lib/popper/popper.min.js" crossorigin="anonymous"></script>
<script src="../lib/bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="../js/const.js"></script>
<script src="login.js"></script>
</body>
</html>