<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备管理平台</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(69,161,168,1);">
    <a href="#" class="navbar-brand mb-0 h1"><img src="../lib/image/seal.png" style="width:45px;margin-right: 15px"/>海豹设备管理平台</a>
</nav>


<div id="app">
    <div class="form-inline">
        <div class='col-sm-6 form-inline' style="max-width:30%">
            <label class="col-form-label">用户名：</label>
            <input type='text' class="form-control" v-model="userName"/>
        </div>

        <div class='col-sm-6 form-inline' style="max-width:30%">
            <label class="col-form-label">密码：</label>
            <input type='text' class="form-control" v-model="password"/>
        </div>
        <div class='col-sm-6 form-inline' style="max-width:30%">
            <button type="button" class="btn btn-primary" @click="loginButton" style="margin: 20px 0 20px 20px">登录
            </button>
        </div>

    </div>
</div>
<script src="../lib/vue/axios.min.js" crossorigin="anonymous"></script>
<script src="../lib/vue/vue.js" crossorigin="anonymous"></script>
<script src="../lib/jquery/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="../lib/popper/popper.min.js" crossorigin="anonymous"></script>
<script src="../lib/bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="../js/const.js"></script>
<script src="login.js"></script>
</body>
</html>