<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>设备管理平台</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="lib/datetimepicker/css/font-awesome.css" crossorigin="anonymous">
    <link rel="stylesheet" href="lib/datetimepicker/css/tempusdominus-bootstrap-4.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="user/user.css" crossorigin="anonymous">
</head>
<body>

<div id="app">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(69,161,168,1);">
        <a href="#" class="navbar-brand mb-0 h1"><img src="lib/image/seal.png" style="width:45px;margin-right:15px"/>综合安防海豹设备管理平台</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">主页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="log/log.html">日志</a>
                </li>
                <li class="nav-item" v-if="showUser">
                    <a class="nav-link" href="user/user.html">用户管理</a>
                </li>
            </ul>
        </div>

        <div>
            <img v-if="showUser" @click="login" src="image/登出.png" height="25" width="25"
                 onmouseover="this.src='image/登出黑.png'" onmouseout="this.src='image/登出.png'"/>

            <img v-if="!showUser" @click="login" src="image/登录.png" height="25" width="25"
                 onmouseover="this.src='image/登录黑.png'" onmouseout="this.src='image/登录.png'"/>
        </div>
    </nav>

    <!--查询-->
    <div class="form-inline" style="margin-top: 20px;margin-bottom: 20px">
        <div class="form-group mb-2">
            <button v-if="showUser" type="button" class="btn btn-outline-primary" @click="openAddDialog"
                    style="margin-left: 20px">添加设备
            </button>
        </div>

        <div class="form-group mb-2" style="width: 50%;margin-left: 25%;margin-right: 10%">
            <div class="form-group">
                <select class="form-control" v-model="deviceStatus" v-on:change="showPage(1,$event,true)">
                    <option value="0">所有设备</option>
                    <option value="1">可借设备</option>
                    <option value="2">借出设备</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" v-model="deviceType" v-on:change="showPage(1,$event,true)">
                    <option value="设备类型">设备类型</option>
                    <option value="门禁">门禁</option>
                    <option value="访客">访客</option>
                    <option value="可视对讲">可视对讲</option>
                    <option value="动环">动环</option>
                    <option value="梯控">梯控</option>
                    <option value="消费">消费</option>
                    <option value="视频">视频</option>
                    <option value="停车场">停车场</option>
                    <option value="书籍">书籍</option>
                    <option value="其他">其他</option>
                </select>
            </div>
            <input id="searchValue" v-model="searchValue" type="text" class="form-control"
                   placeholder="搜索  (设备名称/设备类型/序列号/拥有者/借用者/备注)" style="width:50%">
        </div>

        <div class="tg-list-item" v-if="showUser">
            <input class="tgl tgl-skewed" id="cb3" type="checkbox" v-model="isPrivate"/>
            <label class="tgl-btn" data-tg-off="所有" data-tg-on="个人" for="cb3"></label>
        </div>
    </div>

    <!--表格-->
    <div>
        <table class="table table-hover" style="word-break:break-all;">
            <thead class="thead-light">
            <tr>
                <th scope="col" style="width: 3%; text-align:center">序号</th>
                <th scope="col" style="width: 12%; text-align:center">设备名称</th>
                <th scope="col" style="width: 6%; text-align:center">设备类型</th>
                <th scope="col" style="width: 10%; text-align:center">序列号</th>
                <th scope="col" style="width: 5%; text-align:center" v-if="!isPrivate">拥有者</th>
                <th scope="col" style="width: 5%; text-align:center">借用者</th>
                <th scope="col" style="width: 10%; text-align:center">备注</th>
                <th scope="col" style="width: 5%; text-align:center" v-if="isPrivate">用户名</th>
                <th scope="col" style="width: 5%; text-align:center" v-if="isPrivate">密码</th>
                <th scope="col" style="width: 8%; text-align:center" v-if="isPrivate">ip</th>
                <th scope="col" style="width: 8%; text-align:center">预计归还时间</th>
                <th scope="col" style="width: 15%; text-align:center" v-if="showUser">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, index) in deviceList">
                <th style="text-align:center" scope="row">{{ index + 1 }}</th>
                <td style="text-align:center">{{ item.deviceName }}</td>
                <td style="text-align:center">{{ item.deviceType }}</td>
                <td style="text-align:center">{{ item.serialNumber}}</td>
                <td style="text-align:center" v-if="!isPrivate">{{ item.owner }}</td>
                <td style="text-align:center">{{ item.borrower }}</td>
                <td style="text-align:center">{{ item.remark }}</td>
                <td style="text-align:center" v-if="isPrivate">{{ item.deviceUsername }}</td>
                <td style="text-align:center" v-if="isPrivate">{{ item.devicePwd }}</td>
                <td style="text-align:center" v-if="isPrivate">{{ item.deviceIp }}</td>
                <td v-if="item.noBack" style="text-align:center;background: red" style="text-align:center">{{ item.backTime }}</td>
                <td v-else style="text-align:center">{{ item.backTime }}</td>
                <td style="text-align:center" v-if="showUser">
                    <div v-if="item.back">
                        <button type="button" class="btn btn-outline-success btn-sm" @click="borrowButton(item)">借出</button>
                        <button type="button" class="btn btn-outline-dark btn-sm" @click="modifyButton(item)">修改</button>
                        <button type="button" class="btn btn-outline-danger btn-sm" @click="deleteButton(item)">删除</button>
                    </div>
                    <div v-else>
                        <button type="button" class="btn btn-warning btn-sm" @click="returnButton(item)">归还</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--分页-->
    <div class="pager" id="pager" style="text-align: center">
        <span>
            <select class="btn btn-outline-dark dropdown-toggle btn-sm" v-model="pagesize"
                    v-on:change="showPage(pageCurrent,$event,true)" number>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
            </select>
        </span>
        <span v-for="item in pageCount">
            <span v-if="item==1" class="btn btn-outline-dark btn-sm" v-on:click="showPage(1,$event)"
                  :class="{'disabled':fDisabled}">首页</span>
            <span v-if="item==1" class="btn btn-outline-dark btn-sm" v-on:click="showPage(pageCurrent-1,$event)"
                  :class="{'disabled':fDisabled}">上一页</span>
            <span v-if="item==1" class="btn btn-outline-dark btn-sm" v-on:click="showPage(item,$event)">{{item}}</span>
            <span v-if="item==1&&item<showPagesStart-1" class="btn btn-outline-dark btn-sm disabled">...</span>
            <span v-if="item>1&&item<=pageCount-1&&item>=showPagesStart&&item<=showPageEnd&&item<=pageCount"
                  class="btn btn-outline-dark btn-sm" v-on:click="showPage(item,$event)">{{item}}</span>
            <span v-if="item==pageCount&&item>showPageEnd+1" class="btn btn-outline-dark btn-sm disabled">...</span>
            <span v-if="item==pageCount&&pageCount!=1" class="btn btn-outline-dark btn-sm"
                  v-on:click="showPage(item,$event)">{{item}}</span>
            <span v-if="item==pageCount" class="btn btn-outline-dark btn-sm" v-on:click="showPage(pageCurrent+1,$event)"
                  :class="{'disabled':lDisabled}">下一页</span>
            <span v-if="item==pageCount" class="btn btn-outline-dark btn-sm" v-on:click="showPage(pageCount,$event)"
                  :class="{'disabled':lDisabled}">尾页</span>
        </span>
        <span class="btn btn-outline-dark btn-sm disabled">{{pageCurrent}}/{{pageCount}}</span>
    </div>
    <!--添加设备模态框-->
    <div class="modal fade" id="addDeviceModal" tabindex="-1" role="dialog" aria-labelledby="addDeviceModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addDeviceModalLabel">添加设备</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <label class="col-form-label">设备名称</label>
                            <input type="text" class="form-control" v-model="device.deviceName">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">设备类型</label>
                            <select class="form-control" v-model="device.deviceType">
                                <option>门禁</option>
                                <option>访客</option>
                                <option>可视对讲</option>
                                <option>动环</option>
                                <option>梯控</option>
                                <option>消费</option>
                                <option>视频</option>
                                <option>停车场</option>
                                <option>书籍</option>
                                <option>其他</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">设备序列号</label>
                            <input type="text" class="form-control" v-model="device.serialNumber">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">拥有者</label>
                            <input type="text" class="form-control" v-model="device.owner" id="deviceOwner">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">用户名</label>
                            <input type="text" class="form-control" v-model="device.deviceUsername">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">密码</label>
                            <input type="text" class="form-control" v-model="device.devicePwd">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">ip</label>
                            <input type="text" class="form-control" v-model="device.deviceIp">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">备注</label>
                            <textarea class="form-control" v-model="device.remark"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-outline-dark" @click="addDevice">添加</button>
                </div>
            </div>
        </div>
    </div>

    <!--借出设备模态框-->
    <div class="modal fade" id="borrowDeviceModal" tabindex="-1" role="dialog" aria-labelledby="addDeviceModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">借出设备</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <label class="col-form-label">借用人</label>
                            <input type="text" class="form-control" v-model="borrowDevice.borrower">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">预计归还时间</label>
                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                <input id="backTime" type="text"
                                       class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                                <div class="input-group-append" data-target="#datetimepicker1"
                                     data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-outline-dark" @click="borrowDialogButton()">借出</button>
                </div>
            </div>
        </div>
    </div>

    <!--修改设备模态框-->
    <div class="modal fade" id="modifyDeviceModal" tabindex="-1" role="dialog" aria-labelledby="modifyDeviceModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modifyDeviceModalLabel">修改设备</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <label class="col-form-label">设备名称</label>
                            <input type="text" class="form-control" v-model="modifyDevice.deviceName">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">设备类型</label>
                            <select class="form-control" v-model="modifyDevice.deviceType">
                                <option>门禁</option>
                                <option>访客</option>
                                <option>可视对讲</option>
                                <option>动环</option>
                                <option>梯控</option>
                                <option>消费</option>
                                <option>视频</option>
                                <option>停车场</option>
                                <option>书籍</option>
                                <option>其他</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">设备序列号</label>
                            <input type="text" class="form-control" v-model="modifyDevice.serialNumber">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">拥有者</label>
                            <input type="text" class="form-control" v-model="modifyDevice.owner">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">用户名</label>
                            <input type="text" class="form-control" v-model="modifyDevice.deviceUsername">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">密码</label>
                            <input type="text" class="form-control" v-model="modifyDevice.devicePwd">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">ip</label>
                            <input type="text" class="form-control" v-model="modifyDevice.deviceIp">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">备注</label>
                            <textarea class="form-control" v-model="modifyDevice.remark"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-outline-dark" @click="modifyDeviceButton()">修改</button>
                </div>
            </div>
        </div>
    </div>

    <!--删除设备模态框-->
    <div class="modal fade" id="deleteDeviceModal" tabindex="-1" role="dialog" aria-labelledby="deleteDeviceModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">删除设备</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <label class="col-form-label">是否删除设备{{deleteDevice.deviceName}}</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" @click="deleteDialogButton()">删除</button>
                </div>
            </div>
        </div>
    </div>


</div>
<script src="lib/vue/axios.min.js" crossorigin="anonymous"></script>
<script src="lib/vue/vue.js" crossorigin="anonymous"></script>
<script src="lib/moment/moment.min.js"></script>
<script src="lib/jquery/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="lib/popper/popper.min.js" crossorigin="anonymous"></script>
<script src="lib/bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="lib/datetimepicker/js/tempusdominus-bootstrap-4.min.js" crossorigin="anonymous"></script>

<script src="js/const.js"></script>
<script src="js/index.js"></script>

</body>
</html>