<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>人员管理平台</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../lib/datetimepicker/css/font-awesome.css" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(69,161,168,1);">
    <a href="#" class="navbar-brand mb-0 h1"><img src="../lib/image/seal.png" style="width:45px;margin-right:15px"/>综合安防海豹人员管理平台</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="../index.html">主页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../log/log.html">日志</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="user.html">用户管理</a>
            </li>
        </ul>
    </div>
</nav>


<div id="app">

    <!--查询-->
    <div class="form-inline" style="margin-top: 20px;margin-bottom: 20px">
        <div class="form-group mb-2">
            <button type="button" class="btn btn-outline-primary" @click="openAddDialog" style="margin-left: 20px">添加用户
            </button>
        </div>

        <div class="form-group mb-2" style="width: 50%;margin-left: 25%" >
            <input id="searchValue" v-model="searchValue" type="text" class="form-control" placeholder="搜索  (用户姓名)" style="width:50%">
        </div>
    </div>

    <!--表格-->
    <div>
        <table class="table table-hover" style="word-break:break-all;">
            <thead class="thead-light">
            <tr>
                <th scope="col" style="width: 5%;text-align: center">序号</th>
                <th scope="col" style="width: 20%;text-align: center">姓名</th>
                <th scope="col" style="width: 15%;text-align: center">权限</th>
                <th scope="col" style="width: 15%;text-align: center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, index) in userList">
                <th scope="row" style="text-align: center">{{ index + 1 }}</th>
                <td style="text-align: center">{{ item.username }}</td>
                <td style="text-align: center">{{ item.roles }}</td>
                <td style="text-align: center">
                    <button type="button" class="btn btn-outline-dark btn-sm" @click="modifyButton(item)">修改</button>
                    <button type="button" class="btn btn-outline-danger btn-sm" @click="deleteButton(item)">删除</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--分页-->
    <div class="pager" id="pager" style="text-align: center">
        <span>
            <select  class="btn btn-outline-dark dropdown-toggle btn-sm" v-model="pagesize" v-on:change="showPage(pageCurrent,$event,true)" number>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
            </select>
        </span>
        <span v-for="item in pageCount">
            <span v-if="item==1" class="btn btn-outline-dark btn-sm" v-on:click="showPage(1,$event)" :class="{'disabled':fDisabled}">首页</span>
            <span v-if="item==1" class="btn btn-outline-dark btn-sm" v-on:click="showPage(pageCurrent-1,$event)" :class="{'disabled':fDisabled}">上一页</span>
            <span v-if="item==1" class="btn btn-outline-dark btn-sm" v-on:click="showPage(item,$event)">{{item}}</span>
            <span v-if="item==1&&item<showPagesStart-1" class="btn btn-outline-dark btn-sm disabled">...</span>
            <span v-if="item>1&&item<=pageCount-1&&item>=showPagesStart&&item<=showPageEnd&&item<=pageCount" class="btn btn-outline-dark btn-sm" v-on:click="showPage(item,$event)">{{item}}</span>
            <span v-if="item==pageCount&&item>showPageEnd+1" class="btn btn-outline-dark btn-sm disabled">...</span>
            <span v-if="item==pageCount&&pageCount!=1" class="btn btn-outline-dark btn-sm" v-on:click="showPage(item,$event)"  >{{item}}</span>
            <span v-if="item==pageCount" class="btn btn-outline-dark btn-sm" v-on:click="showPage(pageCurrent+1,$event)" :class="{'disabled':lDisabled}">下一页</span>
            <span v-if="item==pageCount" class="btn btn-outline-dark btn-sm" v-on:click="showPage(pageCount,$event)" :class="{'disabled':lDisabled}">尾页</span>
        </span>
        <span class="btn btn-outline-dark btn-sm disabled">{{pageCurrent}}/{{pageCount}}</span>
    </div>

    <!--添加人员模态框-->
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addUserModalLabel">添加人员</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <label class="col-form-label">姓名</label>
                            <input type="text" class="form-control" v-model="user.username">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">权限</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" v-model="user.adminAuth" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    超级管理员
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" v-model="user.userAuth" id="defaultCheck2">
                                <label class="form-check-label" for="defaultCheck2">
                                    设备管理员
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-outline-dark" @click="addUser">添加</button>
                </div>
            </div>
        </div>
    </div>

    <!--修改用户信息模态框-->
    <div class="modal fade" id="modifyUserModal" tabindex="-1" role="dialog" aria-labelledby="modifyUserModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modifyUserModalLabel">修改人员信息</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <label class="col-form-label">姓名</label>
                            <input type="text" class="form-control" v-model="modifyUser.username">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">权限</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" v-model="modifyUser.adminAuth" id="defaultCheck3">
                                <label class="form-check-label" for="defaultCheck3">
                                    超级管理员
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" v-model="modifyUser.userAuth" id="defaultCheck4">
                                <label class="form-check-label" for="defaultCheck4">
                                    设备管理员
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-outline-dark" @click="modifyUserButton()">修改</button>
                </div>
            </div>
        </div>
    </div>

    <!--删除设备模态框-->
    <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">删除用户</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <label class="col-form-label">是否删除用户{{deleteUser.username}}</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" @click="deleteDialogButton()">删除</button>
                </div>
            </div>
        </div>
    </div>

    <!--授权模态框-->
    <!--<div class="modal fade" id="authorizeUserModal" tabindex="-1" role="dialog" aria-labelledby="authorizeUserModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="authorizeUserModalLabel">授权</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <label class="col-form-label">权限</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" v-model="authorizeUser.adminAuth" id="defaultCheck5">
                                <label class="form-check-label" for="defaultCheck5">
                                    超级管理员
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" v-model="authorizeUser.userAuth" id="defaultCheck6">
                                <label class="form-check-label" for="defaultCheck6">
                                    设备管理员
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-outline-dark" @click="authorizeUserButton()">修改</button>
                </div>
            </div>
        </div>
    </div>-->


</div>
<script src="../lib/vue/axios.min.js" crossorigin="anonymous"></script>
<script src="../lib/vue/vue.js" crossorigin="anonymous"></script>
<script src="../lib/jquery/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="../lib/popper/popper.min.js" crossorigin="anonymous"></script>
<script src="../lib/bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="../lib/moment/moment.min.js"></script>
<script src="../js/const.js"></script>
<script src="user.js"></script>

</body>
</html>